:root {
    --background-main-color: #121212;
    --background-secondary-color: #1e1e1e;
    
    --text-main-color: #f5f5f5;
    --text-secondary-color: #a1a1a1;
    
    --link-color: #a1a1a1;
    --link-hover-color: #fff;
    
    --border-main-color: #666;
    --border-secondary-color: #666;
}



* {
    margin: 0;
    padding: 0;
}



html, body{
    height: 100%;
}



body{
    font-family: monospace, monospace;
    background-color: var(--background-main-color);
    color: var(--text-main-color);
    display: flex;
    flex-direction: column;
}



header {
    border-bottom: var(--border-main-color) solid;
    padding: 1em;
    margin-bottom: 10px;
    background-color: var(--background-secondary-color);
}



nav ul {
    list-style:none;
    padding: 0;
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

nav a {
    color: var(--link-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--link-hover-color);
}



main {
    flex: 1;
    display: flex;
    gap: 10px;
    margin: 5px;
}

main .content-recent {
    flex: 3;
}

main article {
    background-color: var(--background-secondary-color);
    border: var(--border-secondary-color) solid;
    border-radius: 8px;
    padding: 2em;
    margin: 5px;
}

main article .meta{
    font-size: 0.8em;
    color: var(--text-secondary-color);
    margin: 1em;
}

main article .content-preview .row {
    display: flex;
}

main article .content-preview .row figure {
    max-height: 5%;
    margin: 5px;
}

main article .content-preview .row figure img {
    max-width: 100%;
    height: auto;
}

main article .content-preview .row figure figcaption {
    margin: 5px;
}




main aside {
    flex: 1;
    background-color: var(--background-secondary-color);
    color: var(--text-secundary-color);
    border: var(--border-secondary-color) solid;
    border-radius: 8px;
    padding: 2em;
    margin: 5px;
    max-width: 200px;
}

main aside h3 {
    margin-bottom: 10px;
}

main aside p {
    padding-left: 1em;
}

main aside h4 {
    padding-left: 1em;
}

main aside ul {
    list-style:square;
    padding-left: 3em;
    margin-bottom: 1em;
}

main aside a {
    color: var(--link-color);
    text-decoration: none;
}

main aside a:hover {
    color: var(--link-hover-color);
}



hr {
    margin: 10px;
}



footer {
    background-color: var(--background-secondary-color);
    border-top: var(--border-main-color) solid;
    text-align: center;
    padding: 1em;
    margin-top: 10px;
}





@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    main aside {
        max-width: 100%;
    }
}